@model List<DataAccess.Entity.MenuProduct>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Chef/Views/Shared/_ChefLayout.cshtml";
}

<main class="body-content">
    <div class="ms-content-wrapper box">

        <div class="row">
            <div class="col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0">
                        <li class="breadcrumb-item"><a href="~/Chef/Home"><i class="material-icons">home</i> AnaSayfa</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Menu Listesi</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary float-right" href="~/Chef/Menu/AddMenuProduct">Menü Ürünü Ekle</a>
            </div>

            @foreach (var menuProduct in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="ms-card">
                        <div class="ms-card-img">
                            <img class="catalogPicture" src="~/Content/Picture/@menuProduct.MenuImagePath">
                        </div>
                        <div class="ms-card-body ">
                            <div class="wrapper-new2 ">
                                <h6>@menuProduct.MenuName</h6>

                            </div>
                            <div class="wrapper-new1">
                                <span>@menuProduct.MenuCategory.CategoryName </span>
                            </div>
                            <div class="wrapper-new1">
                                <span>@menuProduct.Description </span>
                            </div>
                            <div class="wrapper-new1">
                                <a href="~/Chef/Menu/UpdateMenuProduct/@menuProduct.Id" class="btn btn-gradient-info btn-md ">Düzenle</a>
                                <a href="~/Chef/Menu/GetMenuProduct/@menuProduct.Id" class="btn btn-danger btn-md float-right">Görüntüle</a>
                            </div>

                        </div>
                    </div>
                </div>
            }


        </div>

    </div>

</main>

